@font-face {
    font-family: 'modern_pictogramspro';
    src: url('modernpics_2_16-webfont.eot');
    src: url('modernpics_2_16-webfont.eot?#iefix') format('embedded-opentype'),
         url('modernpics_2_16-webfont.woff') format('woff'),
         url('modernpics_2_16-webfont.ttf') format('truetype'),
         url('modernpics_2_16-webfont.svg#modern_pictogramspro') format('svg');
    font-weight: normal;
    font-style: normal;

}
